[defaults]
inventory                = ./inventory/lab
roles_path               = ./roles
collections_path         = ./collections:~/.ansible/collections
host_key_checking        = False
retry_files_enabled      = False
stdout_callback          = yaml
callbacks_enabled        = profile_tasks, timer
forks                    = 25
gathering                = smart
fact_caching             = jsonfile
fact_caching_connection  = ./.cache/facts
fact_caching_timeout     = 7200
interpreter_python       = auto_silent

# Deny-by-default secret handling.
vault_password_file      = ~/.ansible/vault_password

[persistent_connection]
connect_timeout          = 60
command_timeout          = 120

[inventory]
enable_plugins           = netbox.netbox.nb_inventory, yaml, ini, auto

[ssh_connection]
pipelining               = True
ssh_args                 = -o ControlMaster=auto -o ControlPersist=60s -o PreferredAuthentications=publickey,password
